#home{
    &__a{
        .skills {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;
            margin-bottom: 2.5rem;

            i{
                color: $primary-color;
                padding-bottom: .5rem;
            }
        }
    }
    &__b{
        .profile{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;
            margin-bottom: 2.5rem;

            li{
                &.title{
                    font-size: 1.5rem;
                }
                &.number{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            div{
                padding: 3rem 0;

                &:hover{
                    transform: scale(1.1);
                    transition: all .5s;
                }

                &:nth-child(odd){
                    background-color: $light-color;
                }
                &:nth-child(even){
                    background-color: $medium-color;

                }
            }
        }
    }
    &__c{
        .process{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;
            margin-bottom: 2.5rem;

            &__step{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 25px;
                background: $primary-color;
                border-radius: 50%;
                line-height: 15px;
                padding: 1rem;
                transform: all 1s;
            }
            &__icon{
                position: relative;
                width: 125px;
                height: 125px;
                border-radius: 50%;
                background: $dark-color;
                padding: 2rem;
                text-align: center;
                font-size: 47px;
                &:hover{
                    background: $primary-color;

                    .process__step{
                        background-color: $dark-color;
                    }
                }
            }
        }
    }
}